/*Error Section*/
.error-section{
	position:relative;
	padding:190px 0px 200px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}


.error-section .thm-btn1 {
    color: #f28b1d;
}

.error-section .content{
	position:relative;
}

.error-section h1 {
    position: relative;
    display: block;
    font-size: 200px;
    line-height: 150px;
    color: #161616;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

.error-section h2 {
    position: relative;
    display: block;
    font-size: 44px;
    line-height: 52px;
    color: #444;
    font-weight: 600;
    margin-bottom: 21px;
    text-align: center;
}

.error-section .text {
    position: relative;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: center;
}


/*Error Section*/

 h4.er_the_title{
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
}
.error_text2{
    margin-bottom: 20px;
    color: #fff;
}
.sr_title{
    font-size: 25px;
    margin-bottom: 20px;
    color: #000;
    font-weight: 600;
}
.search_text p{
    font-size: 17px;
    color: #949494;
    font-weight: 500;
    text-align: left;
    font-family: 'Spartan', sans-serif;
    line-height: 38px;
}
.search_text{
    font-size: 17px;
    color:#414141;
    font-weight: 500;
    margin-bottom: 30px;
}
.search_page_btn a{
    margin-top: 20px;
    margin-bottom: 20px;
}

.error-section .search-form button {
    position: relative;
    top: -60px;
    left: -27px;
    font-size: 14px;
    font-weight: 700;
    color: #4527a4;
    background: transparent;
    cursor: pointer;
    transition: all 500ms ease;
    line-height: 61px;
    float: right;
}
.search_title{
    font-size: 50px;
    color: #06d2f8;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 44px;
}
.search_area_df{
	padding:120px 0px 120px;
}

/*===== Page Loader =====*/


.search_area_df {
    background-repeat: no-repeat;
}
.error_btn{
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #fff !important;
    padding: 14px 32px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 500ms ease;
	background: linear-gradient(90deg, var(--c1, #ff5700), var(--c2, #ffd000 ) 50%, var(--c1, #ff5700)) var(--x, 0)/ 200%;
}
.errobtn_area{
    text-align:center;
    margin-top:30px;
}
.error_btn:hover{
	background:#222;
	color:#fff;
	    transition: all 500ms ease;
}
.search_area_df:before {
    position: absolute;
    right: 0;
    content: "";
    width: 317px;
    height: 100%;
    background-repeat: no-repeat;
    background: #ff45550d;
    border: 10px;
}
.pagination li{
    list-style: none!important;
}
 .pagination{
    padding-left: 0px!important;
}


.sidebar-search .form-group input[type='search'] {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    border: 1px solid #e6ebeb;
    font-size: 16px;
    color: #848484;
    padding: 10px 50px 10px 30px;
    transition: all 500ms ease;
}
 .sidebar-search .form-group{
  position: relative;
  margin-bottom: 0px;
}

 .sidebar-search .form-group input[type='search']{
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  border: 1px solid #e6ebeb;
  font-size: 16px;
  color: #848484;
  padding: 10px 50px 10px 30px;
  transition: all 500ms ease;
}

.sidebar-search .form-group button{
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 18px;
  color: #848484;
  cursor: pointer;
  background: transparent;
  transition: all 500ms ease;
}
 .sidebar-search .form-group input:focus{

}

 .sidebar-search .form-group input:focus + button,
 .sidebar-search .form-group button:hover{

}
.search_area_df .theme-btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    font-size: 17px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 15px 34px;
    border-radius: 30px;
    z-index: 1;
    transition: all 500ms ease;
    background: #000000;
    margin-top: 20px;
}
.search_area_df .theme-btn {
    color: #fff;
}